<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.hexus.dresscode.activities">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dresscode_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dresscode_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".HomeActivity" />
        <activity android:name=".WardrobeActivity" />
        <activity android:name=".WardrobeElementAdapter" />
        <activity android:name=".WardrobeElementView" />
        <activity android:name=".WardrobeAddElement" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pictures_path" />
        </provider>

        <activity android:name=".WardrobeOutfit" />
        <activity android:name=".WardrobeElementEdit" />
        <activity android:name=".WardrobeOutfitAdd" />
        <activity android:name=".OutfitListAdapter" />
        <activity android:name=".ChooseWardrobeElement" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity"></activity>
        <service
            android:exported="false"
            android:name="fr.hexus.dresscode.classes.DresscodeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
    </application>

</manifest>